* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 1440px;
  font-family: Open Sans;
  color: #f7f7f7;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.top {
  height: 780px;
  background-image: url(../assets/Fox.png);
}

.header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  font-family: Roboto;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
}

.logo__logo-img {
  margin-right: 15px;
}

.header__navigation {
  display: flex;
}

.link {
  text-decoration: none;
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
}

.header__blog {
  margin-right: 61px;
}

.header__contacts {
  margin-right: 60px;
}

.header__search {
  background-color: transparent;
  border: 0;
  outline: none;
  display: flex;
  align-items: center;
  margin-right: 61px;
  cursor: pointer;
}

.header__sign-in {
  align-self: center;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2px 23px 0px;
  border: 2px solid #cd6326;
  box-sizing: border-box;
  border-radius: 5px;
}

.header__sign-in-link {
  font-family: Roboto;
  line-height: 27px;
}

.top__content {
  margin-top: 120px;
}

.top__heading {
  height: 72px;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #cd6326;
}

.top__text {
  margin-top: 51px;
  width: 274px;
  font-size: 18px;
  line-height: 27px;
}

.top__donat {
  margin-top: 49px;
  width: 160px;
  padding: 17px 42px 16px;
  background: #cd6326;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

.top__donat-link {
  font-family: Roboto;
  line-height: 27px;
}

.main {
  height: 1368px;
  background-color: #cccccc;
  padding-top: 120px;
}

.main__heading {
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #333333;
}

.main__text {
  margin-top: 20px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #666666;
}

.card-slider {
  margin-top: 120px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-deer {
  height: 360px;
  width: 300px;
  background-image: url(../assets/Deer.jpg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.card-squirrel {
  height: 360px;
  width: 300px;
  background-image: url(../assets/Squirrel.jpg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.card-bird {
  height: 360px;
  width: 300px;
  background-image: url(../assets/Bird.jpg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.card-heading {
  font-size: 22px;
  line-height: 36px;
}

.card-text {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 17px;
  line-height: 27px;
}

.slider-button {
  height: 30px;
  background-color: transparent;
  border: 0;
  outline: none;
  margin-bottom: 44px;
  cursor: pointer;
}

.main__notification-heading {
  margin-top: 239px;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  color: #333333;
}

.main__email-form {
  margin-top: 59px;
  display: flex;
  justify-content: center;
}

.main__input {
  font-size: 23px;
  line-height: 27px;
  color: #666666;
  height: 60px;
  width: 540px;
  background-color: transparent;
  border: 1px solid #666666;
  border-right: none;
  padding-left: 15px;
}

.main__button {
  width: 120px;
  background-color: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 0px 5px 5px 0px;
  outline: none;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f7f7f7;
  cursor: pointer;
}

.footer {
  height: 360px;
  background-image: url(../assets/footer.jpg);
  display: flex;
  align-items: center;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
}

.footer__link {
  margin-right: 85px;
}

.footer__link--margin-right--0 {
  margin-right: 0px;
}

.footer__contact {
  margin-right: 27px;
}

.button :hover {
  cursor: pointer;
}
